<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.foodtruckapp">

    <permission
        android:name="com.example.foodtruckapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.foodtruckapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cibus_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cibus_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodtruckApp">
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".FoodTruckDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".OwnerSignupActivity"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".LocationActivity"
            android:parentActivityName=".SignupActivity" />
        <activity
            android:name=".FifthItem"
            android:parentActivityName=".LocationActivity"/>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAr_pJg-fDOrTjcVXLMo8E8HzOpeXr-Y10" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodtruckApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>